/* ==== Google font ==== */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700,100);
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600');
/*@import url('font-awesome.css');*/

body {
  /* Margin bottom by footer height */
    padding-top: 80px;
	font-family: 'Open Sans', sans-serif;
}

.my-navbar {
    color: #FFFFFF;
	background-color: #263381;
	border-color: #263381;
}
 

.navbar-brand {
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
}

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px !important;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }
}

 
.my-navbar .navbar-nav > li > a {
  color: #fff;
}
 
.my-navbar .navbar-nav > li > a:hover, .my-navbar .navbar-nav > li > a:focus {
  color: #7F7F7F;
  background-color:	#263381;
}
 
.my-navbar .navbar-nav > li > .dropdown-menu > li > a:hover,
 
.my-navbar .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #fff;
  background-color: #263381;
}
 
.my-navbar .navbar-nav > .active > a, .my-navbar .navbar-nav > .active > a:hover, .my-navbar .navbar-nav > .active > a:focus {
 
  color: #e5dbdb;
 
  background-color: #B05800;
 
}
 
.my-navbar .navbar-nav > .open > a, .my-navbar .navbar-nav > .open > a:hover, .my-navbar .navbar-nav > .open > a:focus {
 
  color: #e5dbdb;
 
  background-color: #425766;
 
}
 
.my-navbar .navbar-toggle {
 
  border-color: #425766;
 
}
 
.my-navbar .navbar-toggle:hover, .my-navbar .navbar-toggle:focus {
 
  background-color: #425766;
 
}
 
.my-navbar .navbar-toggle .icon-bar {
 
  background-color: #d7e2e9;
 
}
 
.my-navbar .navbar-collapse,
 
.my-navbar .navbar-form {
 
  border-color: #d7e2e9;
 
}
 
.my-navbar .navbar-link {
 
  color: #d7e2e9;
 
}
 
.my-navbar .navbar-link:hover {
 
  color: #e5dbdb;
 
}
 
 
 
@media (max-width: 767px) {
 
  .my-navbar .navbar-nav .open .dropdown-menu > li > a {
 
    color: #d7e2e9;
 
  }
 
  .my-navbar .navbar-nav .open .dropdown-menu > li > a:hover, .my-navbar .navbar-nav .open .dropdown-menu > li > a:focus {
 
    color: #e5dbdb;
 
  }
 
  .my-navbar .navbar-nav .open .dropdown-menu > .active > a, .my-navbar .navbar-nav .open .dropdown-menu > .active > a:hover, .my-navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
 
    color: #e5dbdb;
 
    background-color: #425766;
 
  }
 
}

.espacio {
  height: 40px;
}

.bloque0 {
	margin-top: 22px;
}

.bloque1 {
	margin-top: 22px;
}

.bloque2 {
	font-size: 16px;
	line-height: 20px;
	padding-top: 6px;
	color: #626262;
}

.parrafo {
    background-color: transparent;
    font-size: 16px;
    color: #626262;
    line-height: 20px;
    font-weight: 400;
}

.parrafo2 {
    background-color: transparent;
    font-size: 16px;
    color: #626262;
    line-height: 20px;
    font-weight: 400;
	padding-left: 15px;
	padding-right: 15px;
}

.titulo1 {
    font-size: 26px;
    text-transform: uppercase;
    line-height: 32px;
    letter-spacing: 0px;
    color: #263381;
}

.titulo2 {
    font-size: 20px;
    letter-spacing: 0px;
    color: #263381;
    text-transform: none;
    text-align: center;
    line-height: 24px;
    font-weight: 600;
}

.titulo3 {
    font-size: 20px;
    letter-spacing: 0px;
    color: #263381;
    text-transform: none;
    text-align: left;
    line-height: 24px;
    font-weight: 600;
	padding-left: 15px;
	padding-top: 15px;
}

.titulo4 {
    font-size: 20px;
    letter-spacing: 0px;
    color: #263381;
    text-transform: none;
    line-height: 24px;
    font-weight: 600;
}

.titulo5 {
    font-size: 20px;
    text-transform: uppercase;
    line-height: 22px;
    letter-spacing: 0px;
    color: #000000;
}

.linea1 {
    width: 100%;
    height: 5px;
    background-color: #263381;
    opacity: 0.12;
    filter: alpha(opacity=12);
    margin-top: 9px;
    position: relative;
}

.linea2 {
    width: 100%;
    height: 2px;
    background-color: #263381;
    opacity: 0.12;
    filter: alpha(opacity=12);
    margin-top: 9px;
    position: relative;
}

.agricultural1 {
    width: 100%;
    border-style: solid;
    border-color: #D7D7D7;
    background-color: transparent;
    text-align: center;
    position: relative;
    border-width: 1px 0px 0px;
}

.agriculturat1 {
    font-size: 20px;
    line-height: 22px;
    padding-top: 6px;
    color: #263381;
    font-weight: 700;
}

.agriculturap1 {
    font-size: 16px;
    line-height: 20px;
    padding-top: 6px;
    color: #626262;
    font-weight: 400;
}

.agriculturab1 {
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 60px;
}


 /* highlight col-* */
.row .beneficios {
  background-color: #F5F5F5;
  background-clip: content-box;
  min-height: 125px;
}

.barraazul {
    z-index: 10;
	width: 100%;
    min-height: 82px;
    background-color: #263381;
    padding-bottom: 35px;
}

.barragris {
	width: 100%;
    min-height: 42px;
    background-color: #D7D7D7;
    padding-top: 10px;
}

.textobarragris {
	color: #263381;
		font-weight: 400;
}

.barrafooter {
	width: 100%;
    min-height: 82px;
    background-color: #EFEEEE;
    padding-bottom: 35px;
}

.masinfo a {
	margin-top: 30px;
	min-height: 16px;
	padding: 12px;
	position: relative;
	left: 1px;
	border-style: solid;
	border-width: 1px;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 14px;
	font-size: 18px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: bold;
	height: 40px;
	vertical-align: middle;
	width: 100%;
	
}

.masinfo a:hover,.masinfo a:active,.masinfo a:focus {
	font-weight: bold;
  background-color: #fff;
  color: #263381;
}

.footert1 {
    background-color: transparent;
    font-size: 12px;
    text-align: left;
    color: #8F8F8F;
}

.footerimg {
	padding: 0px;
}

.footert2{
	position: relative;
	top: 5px;
    color: #8F8F8F;
}

.appweb1 {
	padding-top: 100px;
	padding-left: 10px;
}

.breadcrumb {
    background-color: #fff;
}

.breadcrumb a {
	color: #626262;
	font-size: 11px;
}

.breadcrumb>.active {
	color: #263381;
	font-size: 11px;
	font-weight: bold;
}

.cajaazul {
	background-color: #2D3985;
	background-clip: content-box;
	min-height: 470px;
}

.municipioscelda {
}

.tituloamarillo {
	color: #FFFF00;
	font-weight: bold;
	font-size: 17px;
	padding-left: 50px;
	padding-top: 30px;
}

ul.municipio  {
  list-style: none; /* Remove default bullets */
	min-height: 180px;
}

ul.municipio  li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #FFFF00; 
  font-weight: bold; /* If you want it to be bold */
  font-size: 16px;
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: 30px; 
}

li.municipio {
	color: #fff;
	font-size: 16px;
    margin-right: 30px;
	line-height: 24px;
}

.lineanaranja {
/*    width: 80%;*/
    height: 6px;
    background-color: #FBB03B;
    margin-top: 9px;
    position: relative;
	margin-left: 50px;
	margin-right: 50px;
}

.municipiotextoblanco {
	color: #fff;
	font-size: 16px;
	margin-left: 50px;
	margin-right: 50px;
}

.monitoreop1 {
    font-size: 16px;
    line-height: 20px;
    padding-top: 6px;
    padding-right: 20px;
    color: #626262;
    font-family: open-sans, sans-serif;
    font-weight: 400;
}

.municipiop2 {
	font-size: 21px;
	line-height: 26px;
	padding-top: 5px;
	color: #F15A24;
	font-family: chivo, sans-serif;
	font-weight: 900;
}

.celular {
    position: absolute;
	left: 65%;
	top: 40%;
	width: 18%;
}


.form {
	width: 260px;
	padding: 8% 0 0;
	margin: auto;
	background: #FFFFFF;
	color: #626262;
}


.form input {
	font-family: open-sans, sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
	font-family: open-sans, sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #263381;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #1c2766;
}

.botonmenu {
	border-color: #FFFFFF;
	border-style: solid;
	border-width: 1px;
}
.botonmenu:hover,.botonmenu:active,.botonmenu:focus {
	font-weight: bold;
	border-color: #263381;
	border-style: solid;
	border-width: 1px;
	background-color: #fff;
	color: #263381;
}

.boton {
	border-color: #FFFFFF;
	border-style: solid;
	border-width: 1px;
	background-color: #263381; 
	color: #fff;
}
.boton:hover,.boton:active,.boton:focus {
	font-weight: bold;
	border-color: #263381;
	border-style: solid;
	border-width: 1px;
	background-color: #fff;
	color: #263381;
}

 .btn-conoce {
        display:block;
        width:50px;
        height:50px;
        color#fff;
        position: fixed;
        left:20px;
        bottom:75px;
        border-radius:50%;
        line-height:80px;
        text-align:center;
        z-index:999;
}

#map-conoce {
        height: 90%;
}

.carousel-caption {
z-index:10;
color:#fff;
text-align:left;
top:47%;
left:10%;
bottom:auto;
-webkit-transform:translate(0, -50%);
-ms-transform:translate(0, -50%);
transform:translate(0, -50%);
}

@media screen and (min-width: 701px) {
	.carousel-caption {
		width:480px;
	}
	.titulocarousel {
		font-size: 24px;
	}
	.parrafocarousel1 {
		font-size: 24px;
	}
	.parrafocarousel2 {
		font-size: 19px;
	}
}

@media screen and (max-width: 700px) {
	.carousel-caption {
		left:5%;
		width:250px;
	}
	.titulocarousel {
		font-size: 12px;
	line-height: 12px;
	}
	.parrafocarousel1 {
		font-size: 12px;
	line-height: 6px;
	}
	.parrafocarousel2 {
		font-size: 10px;
	line-height: 6px;
	}
}

.carousel-caption-agro {
	top:35%;
	left:14%;
	width:430px;
}

@media screen and (min-width: 701px) {
	.titulocarouselagro {
		font-size: 28px;
		font-weight: bold;
	}
	.parrafocarouselagro1 {
		font-size: 26px;
	}
}

@media screen and (max-width: 700px) {
	.titulocarouseagro {
		font-size: 12px;
		line-height: 12px;
		font-weight: bold;
}
	.parrafocarouselagro1 {
		font-size: 12px;
		line-height: 6px;
	}
}

#whatsapp {
	    display:block;
        color:#fff;
        position: fixed;
        right:30px;
        bottom:50px;
        border-radius:50%;
        line-height:80px;
        text-align:center;
        z-index:999;
		cursor: pointer;
		user-select: none;
}

a, a:active, a:focus {
outline: none;
}

@-webkit-keyframes animar {
			0% {
				-webkit-transform: translate(0px, 0px);
			}
			10% {
				-webkit-transform: translate(5px, 0px);
			}
			20% {
				-webkit-transform: translate(0px, 0px);
			}
			30% {
				-webkit-transform: translate(5px, 0px);
			}
			40% {
				-webkit-transform: translate(0px, 0px);
			}
			50% {
				-webkit-transform: translate(5px, 0px);
			}
			60% {
				-webkit-transform: translate(0px, 0px);
			}
			70% {
				-webkit-transform: translate(5px, 0px);
			}
			80% {
				-webkit-transform: translate(0px, 0px);
			}
			90% {
				-webkit-transform: translate(5px, 0px);
			}
			100% {
				-webkit-transform: translate(0px, 0px);
			}
		}
		

.tiembla{
  -webkit-animation: animar .6s 1;
}

